@import '../../style/variables/variables.scss';


// .slider-container {
//   width: 100%; /* You can adjust this value based on your layout */
//   max-width: 1300px; /* Set a maximum width if needed */
//   margin: 0 auto; /* Center the container */
// }
// .categoryCardHome {
//   background: #fff;
//   border-radius: 16px;  
//   display: flex!important;
//   flex-direction: column!important;
//   justify-content: center!important;
//   align-items: center!important;
//   padding: 10px;


//   img { 
//     width: 40px;
//     height: 40px;
//     object-fit: contain;
//     margin-bottom: 15px;
//   }
//   h4{
//     text-transform: capitalize;
//   }
// }

// .categoryCardHomeArrow {
//   font-size: 36px;
//   color: $mainColor;
//   display: flex;
//   justify-content: center;
// }


// .slick-list {
//   margin: 0 -15px; // Adjust this value as needed
// }
// .slick-slide {
//   width: 200px; // Adjust this value as needed
//   margin: 0 15px; // Adjust this value to create space between slides
// }


// .slick-track {
//   display: flex;
//   flex-direction: row!important;
//   width:100%!important;
//   overflow: hidden;
// }

.slider-container {
  width: 100%;
  max-width: 1200px;
  margin-left: 50px; 

  .categoryCardHome {
    background: white;
    margin: 10px;
    width: 140px !important; 
    padding: 10px;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;

    img {
      width: 35px;
      height: 35px;
    }
    h4{
      padding-top: 15px;
    }
  }
}