@import '../../style/variables/variables.scss';


.containerOrderCard {
    border-bottom: 1px solid rgb(233, 233, 233);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    img {
        width: 200px;
        height: 135px;
        object-fit: cover;
        border-radius: 4px;
    }

    span {
        font-weight: 600;
        font-size: 18px;
    }

    .removeIcon {
        display: flex;
        align-items: center;
        color: rgb(226, 25, 25);
        cursor: pointer;

        &:hover {
            color: rgb(155, 23, 23);
        }
    }
}


.emptyCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px;
    margin: 50px;
    border-radius: 8px;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: $mainColor;
        color: $secondaryTextColor;
        font-size: 24px;
    }

    h2 {
        font-weight: 400;
    }

    .startShopping {
        border: none;
        padding: 8px 16px;
        border-radius: 2px;
        font-weight: 600;
        background: $mainColor;
        color: white;

        &:hover {
            background: $hoverMainColor;
        }
    }

}


.summary {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    position: fixed; 
    border: 1px solid rgb(245, 245, 245);

    display: flex;
    justify-content: center;
    align-items: center;

    span {
        color: rgb(15, 172, 80);
    }
}



@media (max-width: 1000px) {
    .containerOrderCard{
        flex-direction: column;
        .imgText{
            flex-direction: column;
            padding-bottom: 5px;
            img{
                width: 170px;
            }
            h2{
                text-align: center;
                font-size: 14px;
            }
        }
    }
    .emptyCart {  
        flex-direction: column; 
        margin:5px;
    }
    .emptyD{
        flex-direction: column;
        padding-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .emptyCart h2, .emptyCart a {  
       font-size: 13px;
    }
     
}